<h1>Mi primera página web</h1>
<p>Angular es sencillo de aprender</p>

<h2>{{mensaje}}</h2>

<input type="radio" name="numero" id="numero1" class="w-24 h-10">
<label for="numero">25</label>
<input type="radio" name="numero" id="numero2" class="w-24 h-10">
<label for="numero">30</label>
<app-slider></app-slider>
<app-listado></app-listado>

<button (click)="cambiarMensaje()">Iniciar</button>

<section *ngIf="mensaje != ''" class="modal h-screen w-screen bg-gray-600 opacity-50">
    <div class="w-96 h-80 mx-auto bg-white">
        <h1 class="text-5xl text-blue-700">Confirmación de venta</h1>
        <p class="text-2xl text-green-500">La operación fue exitosa</p>
    </div>
</section>
