<!--<div class="container-full px-4">
    <div class="grid grid-cols-4">
        <article class="p-4" *ngFor="let item of lista">
            <div class="flex flex-row-reverse">
                <div class="text-white bg-red-400 hover:bg-red-700 cursor-pointer w-20 h-8 text-center rounded">
                    <p class="text-center">Oferta!</p>
                </div>
            </div>
            <img src="assets/imagenes/Polo.jpg" class="h-80">
            <img [src]="item.imagen" class="h-80">
            <h6 class="text-center text-sm text-gray-400">{{item.marca}}</h6>
            <p class="text-center font-bold text-sm">{{item.nombre}}</p>
            <div class="text-center text-lg">
                <label class="mx-2 text-gray-400 line-through">${{item.precioRegular}}</label>
                <label class="text-red-500 font-bold">${{item.precioUnitario}}</label>
            </div>
        </article>
    </div>
    <div class="" *ngIf="producto != null">
        <img [src]="producto.urlImagen" class="h-80">
        <h6 class="text-center text-sm text-gray-400">{{producto.peso}}</h6>
        <p class="text-center font-bold text-sm">{{producto.nombre}}</p>
    </div>
    <input type="text" [(ngModel)]="indice">
    <button (click)="verProducto()">Mostrar producto</button>
</div>-->

<main class="main">
    <div class="container">
      <h2 class="main-title" style="line-height: 33px;">Nuevos productos para ti</h2>
      <section class="container-products p-2" >
        <div class="product" *ngFor="let item of dataService.productos">
          <!--<span>Mensaje desde el componente hijo: {{ nombre }}</span>
          <app-navbar (enviar)="recibirNombre($event)"></app-navbar>-->
          <img [src]="item.imagen" alt="" class="product__img">
          <div class="product__description">
            <h3 class="product__title text-sm text-gray-400 mt-4">{{item.marca}}</h3>
            <p class="text-center font-bold text-sm mt-2">{{item.nombre}}</p>
            <span class="product__price mt-2">${{item.precioUnitario}}</span>
          </div>
          <i class="product__icon cursor-pointer fas fa-cart-plus"></i>
          <!--<a class="text-white bg-red-500 hover:bg-red-700 cursor-pointer w-20 h-8 text-center rounded inset-y-px">Ver Producto</a>-->
          <div class="relative h-20 w-20 ">
            <div class="absolute inset-x-0 bottom-0 h-16 text-white bg-red-500 hover:bg-red-700 cursor-pointer text-center rounded mb-6">Ver Producto</div>
          </div>
        </div>
      </section>
    </div> 
</main>
